* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-family: "Qwigley", cursive;
  font-family: "Source Sans 3", sans-serif;
}

.navbar-brand {
  font-family: Qwigley !important;
  color: #ffb30e !important;
  font-size: 80px !important;
  font-weight: 400px;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 169px;
}
.navbar-del {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 4px;
}
.navicon {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 5px;
}
.navaddres {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 5px;
}
.form-control {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
.d-flex {
  width: 272px;
  height: 46px;
  gap: 30px;
}
input.form-control.me-2 {
  width: 98px;
  height: 25px;
  margin-top: 10px;
  padding: 0px;
  margin-left: -20px;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  outline: none;
  border-radius: unset;
}
.btn btn-outline-warning {
  width: 50px !important;
  height: 46px;
  padding: 14px 24px 14px 24px;
  border-radius: 8px;
  border: 1px;
}
.main-hero {
  background-image: url("./images/background\ full.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
  width: 100% !important;
  max-width: 1920px !important;
  height: 632px !important;
}

@media (max-width: 576px) {
  body {
    width: 576px;
  }

  .main-hero {
    background: url("./images/background\ full.png");
    background-size: cover;
    height: auto;
  }
}

@media (max-width: 1200px) {
  body {
    width: 1200px;
  }

  .main-hero {
    background: url("./images/background\ full.png");
    background-size: cover;
    height: auto;
  }
}

@media (max-width: 1400px) {
  body {
      width: 1400px;
  }

  .main-hero{
      background: url("./images/background\ full.png");
      background-size: cover;
      height: auto;
  }
}

.heading {
  font-family: "Qwigley", cursive;
  color: white;
  font-weight: 400;
  font-size: 88px;
  line-height: 88px;
}

.sub-heading {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

a.btn {
  background-color: #f172281a;
  width: 148px;
  height: 38px;
  border-radius: 8px;

  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #f17228;
}
.pickup {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #757575;
  text-decoration: none;
  margin-left: 10px;
}
.addres {
  width: 593px;
  height: 49px;
  background-image: url("./images/your\ addrs\ svg.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  border: 0px;
  outline: none;
}

.btn-2 {
  font-family: "Source Sans 3", sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
}

.card-body {
  padding-left: 0px !important;
}

.fot-in {
  border: 2px solid #424242;
  width: 1540px;
  margin-left: 127px;
  height: 430px;
  border-left: 0px;
  border-right: 0px;
}

.top {
  font-family: "Source Sans 3", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
}
li {
  list-style: none;
}

.text-white {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.container-flued {
  margin-top: 100px;
}
.footer-right {
  margin-left: 700px;
  margin-top: 100px;
}
.email {
  background: transparent;
  border: none;
  color: #fff;
  padding-left: 5px;
  outline: none;
}
.sub {
  width: 334px !important ;
  height: 60px;
  padding: 7px 0px 8px 16px;
  border-radius: 8px;
  gap: 10px;
  padding-top: 15px;
  background-color: #424242;
}
.top-sub {
  width: 483px;
  height: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700 bold;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #bbbbbb;
  margin: 50px 0px 30px 0px;
}
.social {
  font-family: "Source Sans 3", sans-serif;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #6d6c6c;
}
